<h1>Editing Syllabus Organization</h1>

<%= render 'form', syllabus_organization: @syllabus_organization %>

<%= link_to 'Show', @syllabus_organization %> |
<%= link_to 'Back', syllabus_organizations_path %>
