<h1>Editing Activity Organization</h1>

<%= render 'form', activity_organization: @activity_organization %>

<%= link_to 'Show', @activity_organization %> |
<%= link_to 'Back', activity_organizations_path %>
