<h1>Editing Material Contributor</h1>

<%= render 'form', material_contributor: @material_contributor %>

<%= link_to 'Show', @material_contributor %> |
<%= link_to 'Back', material_contributors_path %>
