<h1>Editing Task Syllabus Relation</h1>

<%= render 'form', task_syllabus_relation: @task_syllabus_relation %>

<%= link_to 'Show', @task_syllabus_relation %> |
<%= link_to 'Back', task_syllabus_relations_path %>
